.login-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
  }
  
  .login-box {
    width: 40%;
    display: flex;
    justify-content: center;
  }
  
  .image-box {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-box img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
  }
  